/*

    F L O A T E R         F L O A T E R         F L O A T E R         F L O A T E R         F L O A T E R

*/
#floater {
    position: absolute;
    padding: 5px;
    z-index: 500;
    display: none;
    background-color: #1E6C31;
}

#floater_overlay {
    background-color: #000;
    opacity: 0.4;
}

.floater_content {
    color: #DFDFDF;
    font-size: 11px;
}

.floater_content a,
.floater_content a:visited {
    color: #DFDFDF;
}

#floater_innerwrap {
    background-color: #444;
    border: 1px solid #222;
}

#floater_tabs {
    padding: 10px;
    overflow: auto;
}

/* forms */
#floater_innerwrap form {
    clear: both; /* because of tab selection */
}

#floater_innerwrap fieldset {
    border: none;
}

#floater_innerwrap .multiFields {
    margin-left: 115px;
}

fieldset legend {
    color: #ACDD64;
    font-size: 14px;
}

#floater_innerwrap fieldset label {
    margin-right: 5px;
    width: 110px;
    float: left;
    text-align: right;
}
fieldset label {
    color: #ACDD64;
    font-size: 12px;
}
fieldset#money input {
    width: 60px;
    text-align: right;
    padding-right:5px;
}
fieldset#activitiestab label {
    /*color: #ACDD64;*/
    float:right;
    text-align:right;
    margin:0 10px 0 0;
    width: 70px;
}
fieldset#activitiestab input {
    float:right;
    text-align:right;
    margin:0 10px;
    width: 60px;
}

#floater_innerwrap fieldset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#floater_innerwrap fieldset li {
    border-bottom: 1px dotted #666;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

#floater_innerwrap select,
#floater_innerwrap input,
#floater_innerwrap textarea {
    background-color: #fff;
    border: 3px double #bbb;
}

#floater_innerwrap select[disabled],
#floater_innerwrap input[disabled],
#floater_innerwrap textarea[disabled] {
    background-color: #999;
    color: #ddd;
    border: 3px double #999;
}

/* BUTTONS */

#formbuttons {
    padding-top: 5px;
    float: right;
}

#formbuttons .btn_ok,
#formbuttons .btn_norm {
    min-width: 70px;
    margin: 3px;
}

#formbuttons .btn_ok {
    cursor: pointer;
    background-color: #499517;
    font-weight: bold;
    color: #fff;
}

#formbuttons .btn_ok:hover,
#formbuttons .btn_ok:active {
    background-color: #5ab417;
    color: #000;
}

#formbuttons .btn_norm {
    cursor: pointer;
    background-color: #B72917;
    font-weight: bold;
    color: #fff;
    float: right;
    margin-left:20px;
}

#formbuttons .btn_norm:hover,
#formbuttons .btn_norm:active {
    background-color: #ff5a4d;
    color: #000;
}

#floater div#help {
    cursor: pointer;
    font-size: 10px;
    background-color: #666;
    border-bottom: 1px solid #777;
}

#floater div#help div.content {
    padding: 10px;
    color: #fff;
}

/* Floater Handle */

#floater_handle {
    background: url('grfx/g3_table_header.png');
    border-bottom: 1px solid #555;
    padding: 2px 2px 2px 10px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
    height: 20px;
}

#floater_handle:hover {
    cursor: move;
}

#floater_handle div.right {
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 16px;
    top: 9px;
    right: 10px;
}

#floater_handle div.right a {
    cursor: pointer;
    margin-left: 2px;
    float: right;
    overflow: hidden;
    display: block;
    width: 22px;
    height: 16px;
    text-indent: -500px;
}

#floater_handle div.right a.close {
    background: url('grfx/close.png') no-repeat;
}

#floater_handle div.right a.options.down {
    background: url('grfx/options2.png') no-repeat 0 0;
}

#floater_handle div.right a.options.up {
    background: url('grfx/options2.png') no-repeat 0 -16px;
}

#floater_handle div.right a.help {
    background: url('grfx/help.png') no-repeat 0 0;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.activitiesTable input {
    width: 100px
}

#floater_innerwrap .errorMessage {
    color: white;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

#floater_innerwrap .errorField {
    background-color: #af0000;
    border: 1px dotted white;
}
