/*

    T O O L S M E N U

*/

#main_tools_menu {
    position: absolute;
    top: 30px;
    left: 180px;
    z-index: 10;
    margin-left: 17px;
    display: none;
}

#main_tools_menu a {
    color: #000;
    font-size: 11px;
    text-decoration: none;
}

#main_tools_menu a:hover {
    color: #f00;
}

#main_tools_menu div.slider {
    position: relative;
    float: left;
    font-weight: bold;
    display: inline;
    padding: 5px;
    background: url('grfx/tools_slider.png') repeat-x;
}

#main_tools_menu div.end {
    display: inline;
    float: left;
    height: 27px;
    width: 6px;
    background: url('grfx/tools_slider_end.png') no-repeat;
}

#main_tools_button {
    float: left;
}

#main_logout_button {
    float: right;
}

