/*! ki_invoice */
#inv_ext_wrap {
    border: 1px solid #000;
    border-top: none;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

#invoice_extension {
    padding: 10px;
    background-color: #eee;
    color: #000;
    overflow: auto;
}

#inv_ext_header {
    background-image: url('/skins/standard/grfx/g3_table_header.png');
    border: 1px solid #000;
    color: #fff;
    padding: 5px 10px;
    height: 20px;
    overflow: hidden;
    position: absolute;
}

#inv_ext_advanced {
    padding: 10px;
}

#inv_ext_advanced div {
    border-bottom: 1px dotted #666;
    padding: 5px 0;
}

#inv_ext_advanced div label {
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

#inv_ext_advanced div select {
    min-width: 200px;
}

#inv_ext_advanced div select#invoice_round_ID {
    min-width: 20px;
}

#invoice_screenshot {
    float: left;
    margin-right: 10px;
}

#invoice_button {
    width: 200px;
    font-weight: bold;
}

a {
    cursor: pointer
}


