/*! main - styles.css */

/*  SOME RESETS  */
ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

/* way off screen, used for measuring scrollbar in js*/
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

/*

    S E T U P        S E T U P        S E T U P        S E T U P        S E T U P        S E T U P

*/
html {
    min-width: 900px;
    font-size: 95%;
}

a:active {
    outline: none;
}

a img {
    border: none;
}

body {
    font-size: .8em;
    font-family: verdana, 'MS Trebuchet', sans-serif;
    background-color: #444;
    margin: 0;
    padding: 0;
}

select,
input {
    background-color: white;
    color: black;
}

/* loading extension*/
#loader {
    position: absolute;
    margin-top: 30px;
    margin-left: -110px;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 19px;
    background: url('../../skins/standard/grfx/ajax-loader.gif') no-repeat;
    z-index: 250;
}

/* waiting for ajax request to complete*/
#ajax_wait {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 13px;
    background: url('../../skins/standard/grfx/ajax_wait.gif') repeat-x;
    z-index: 250;
}

/*
      TOP            TOP            TOP            TOP            TOP

*/
#top {
    width: 100%;
    background-color: #000;
    height: 88px;
}

table#t_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    border: none;
}

/*
*/
#tt_logo {
    padding: 10px 0 0 10px;
    width: 142px;
}

#logo {
    height: 52px;
}

#tt_logo,
#logo {
}

/*
*/
#tt_menu {
    padding: 0 8px 0;
    vertical-align: bottom;
}

#menu {
    height: 52px;
    z-index: 10;
    color: white;
    font-size: smaller;
}

#tt_menu,
#menu {
    width: 108px;
}

/*
*/
#tt_display {
    padding: 0 3px;
}

#display {
    height: 69px;
    background: url('../../skins/standard/grfx/g3_display.png') no-repeat;
    color: #51534a;
    margin: 0 auto;
    width: 290px;
}

#tt_display,
#display {
}

/*
*/
#tt_selector {
    padding: 0 3px;
}

#tt_selector,
#preselector,
#stopwatch {
    width: 224px;
}

#preselector,
#stopwatch {
    height: 69px;
    display: block;
    background: url('../../skins/standard/grfx/g3_buzzer_display.png') no-repeat;
    color: #51534A;
    margin: 0 auto;
    font-size: 11px;
    z-index: 20;
}

/*
*/
#tt_buzzer {
    padding: 2px 10px 0 0;
}

#buzzer {
    height: 73px;
}

#tt_buzzer,
#buzzer {
    width: 73px;
}

/*
*/
#logged_in_name {
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    max-width: 200px;
    float: left;
    padding: 0 0 2px;
    background-color: #0C4506;
}

table#menu_btns {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    border-spacing: 0;
}

table#menu_btns img {
    border: 1px solid rgba(0, 0, 0, 0);
}

table#menu_btns img:hover {
    border: 1px solid rgba(255, 0, 0, 0.91);
    border-radius: 5px;
}

table#menu_btns td {
    padding: 0;
    margin: 0;
    text-align: center;
}

table#menu_btns td#first {
    text-align: left;
}

table#menu_btns td#last {
    text-align: right;
}

#button_comment {
    position: absolute;
    top: 30px;
    right: 240px;
    z-index: 1;
    display: none;
}

#line {
    height: 4px;
    width: 314px;
    text-align: center;
    display: none;
}

/*

    M E N U         M E N U         M E N U         M E N U         M E N U         M E N U

*/
.menu {
    padding: 2px 0 0 0;
    margin: 0 13px;
    list-style: none;
}

.menu li {
    float: left;
    padding: 0;
    margin: 0 3px 0 0;
    text-align: center;
}

.menuBackground {
    background-color: #000;
    height: 23px;
}

.menuBackground.demo_mode {
    background-color: rgba(255, 121, 0, 0.79);
}

.menuBackground.demo_mode span.demo {
    color: white;
    text-shadow: 0 0 3px #000;
    float: right;
    padding: 4px 20px;
    font-family: monospace;
    font-size: 12px;}

.menu li:not(.ui-state-active) a.tabError span.bb {
    color: #AF0000 !important;
}

.menu li span.aa {
    width: 5px;
    height: 18px;
    float: left;
    padding: 3px 0 0 0;
}

.menu li span.bb {
    height: 18px;
    float: left;
    padding: 3px 0 0 0;
}

.menu li span.cc {
    width: 5px;
    height: 18px;
    float: left;
    padding: 3px 0 0 0;
}

.menu li {
    font-size: .9em;
    font-weight: bold;
}

.menu li.norm span.aa {
    background: url('../../skins/standard/grfx/g3_tab_green_left.png');
}

.menu li.norm span.bb {
    background: url('../../skins/standard/grfx/g3_tab_green_middle.png');
}

.menu li.norm span.cc {
    background: url('../../skins/standard/grfx/g3_tab_green_right.png');
}

.menu li.act,
.menu li.ui-state-active {
    color: #fff;
}

.menu li.act span.aa,
.menu li.ui-state-active span.aa {
    background: url('../../skins/standard/grfx/g3_tab_black_left.png');
}

.menu li.act span.bb,
.menu li.ui-state-active span.bb {
    background: url('../../skins/standard/grfx/g3_tab_black_middle.png');
}

.menu li.act span.cc,
.menu li.ui-state-active span.cc {
    background: url('../../skins/standard/grfx/g3_tab_black_right.png');
}

.menu li.act a span.bb,
.menu li.ui-state-active a span.bb {
    color: #fff;
}

.menu a, .menu a:visited {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: #f00;
}

/*

    B U Z Z E R         B U Z Z E R         B U Z Z E R         B U Z Z E R         B U Z Z E R

*/

#buzzer div {
    display: block;
    background: url('../../skins/standard/grfx/g3_buzzer.png') no-repeat 0 0;
    width: 73px;
    height: 73px;
    text-indent: -1000px;
}

#buzzer div:hover {
    cursor: pointer;
    background: url('../../skins/standard/grfx/g3_buzzer.png') no-repeat 0 -73px;
}

#buzzer.act div {
    background: url('../../skins/standard/grfx/g3_buzzer.png') no-repeat 0 -146px;
}

#buzzer.act div:hover {
    cursor: pointer;
    background: url('../../skins/standard/grfx/g3_buzzer.png') no-repeat 0 -219px;
}

#buzzer.disabled div,
#buzzer.disabled div:hover {
    cursor: auto;
    background: url('../../skins/standard/grfx/g3_buzzer.png') no-repeat 0 -292px;
}

/*

    T I M E F R A M E         T I M E F R A M E         T I M E F R A M E         T I M E F R A M E

*/

#display a,
#display a:visited {
    color: #51534a;
    text-decoration: none;
}

#display a:hover {
    background-color: #F7E8B8;
    color: #000;
}

#dates {
    font-family: arial, sans-serif;
    font-size: 24px;
    width: 290px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;

}

#infos {
    width: 280px;
    height: 30px;
    text-align: center;
}

.datewarning {
    background: url('../../skins/standard/grfx/timeframe_warn.gif') repeat-x 0 23px;
}

/*

    P R E S E L E C T O R              P R E S E L E C T O R               P R E S E L E C T O R
    S T O P W A T C H        S T O P W A T C H        S T O P W A T C H        S T O P W A T C H

*/

#preselector > span {
    padding: 7px 10px 0;
    overflow: hidden;
    line-height: 13px;
    display: block;
}

#preselector span.selection {
    overflow: hidden;
    width: 190px;
    height: 13px;
    padding-left: 2px;

}

#preselector span.none {
    color: red;
}

#preselector strong.short {
    color: #BEBDB3;
    display: block;
    float: left;
    width: 13px;
    height: 13px;
}

#sw_counter {
    display: block;
    width: 100%;
    height: 39px;
    line-height: 39px;
    color: red;
    font-size: 35px;
    font-family: arial, sans-serif;
    text-align: center;
    padding-top: 5px;
}

#sw_ticker {
    font-size: 11px;
    color: #51534A;
    z-index: 60;
    width: 100%;
    display: block;
}

#sw_ticker ul {
    list-style-type: none;
}

#sw_ticker ul li {
    overflow: hidden;
    text-align: center;
    height: 15px;
    padding: 0;
    margin: 0;
}

* + html #sw_ticker ul li {
    margin-top: -3px;
}

/*

    F L O A T E R         F L O A T E R         F L O A T E R         F L O A T E R         F L O A T E R

*/
#floater {
    position: absolute;
    padding: 5px;
    z-index: 500;
    display: none;
    background-color: #1E6C31;
}

#floater_overlay {
    background-color: #000;
    opacity: 0.4;
}

.floater_content {
    color: #DFDFDF;
    font-size: 11px;
}

.floater_content a,
.floater_content a:visited {
    color: #DFDFDF;
}

#floater_innerwrap {
    background-color: #444;
    border: 1px solid #222;
}

#floater_tabs {
    padding: 10px;
    overflow: auto;
}

/* forms */
#floater_innerwrap form {
    clear: both; /* because of tab selection */
}

#floater_innerwrap fieldset {
    border: none;
}

#floater_innerwrap .multiFields {
    margin-left: 115px;
}

fieldset legend {
    color: #ACDD64;
    font-size: 14px;
}

#floater_innerwrap fieldset label {
    margin-right: 5px;
    width: 110px;
    float: left;
    text-align: right;
}

fieldset label {
    color: #ACDD64;
    font-size: 12px;
}

fieldset#money input {
    width: 60px;
    text-align: right;
    padding-right: 5px;
}

fieldset#activitiestab label {
    /*color: #ACDD64;*/
    float: right;
    text-align: right;
    margin: 0 10px 0 0;
    width: 70px;
}

fieldset#activitiestab input {
    float: right;
    text-align: right;
    margin: 0 10px;
    width: 60px;
}

#floater_innerwrap fieldset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#floater_innerwrap fieldset li {
    border-bottom: 1px dotted #666;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

#floater_innerwrap select,
#floater_innerwrap input,
#floater_innerwrap textarea {
    background-color: #fff;
    border: 3px double #bbb;
    vertical-align: middle;
}

#floater_innerwrap select[disabled],
#floater_innerwrap input[disabled],
#floater_innerwrap textarea[disabled] {
    background-color: #999;
    color: #ddd;
    border: 3px double #999;
}

/* BUTTONS */

#formbuttons {
    padding-top: 5px;
    float: right;
}

#formbuttons .btn_ok,
#formbuttons .btn_norm {
    min-width: 70px;
    margin: 3px;
}

#formbuttons .btn_ok {
    cursor: pointer;
    background-color: #499517;
    font-weight: bold;
    color: #fff;
}

#formbuttons .btn_ok:hover,
#formbuttons .btn_ok:active {
    background-color: #5ab417;
    color: #000;
}

#formbuttons .btn_norm {
    cursor: pointer;
    background-color: #B72917;
    font-weight: bold;
    color: #fff;
    float: right;
    margin-left: 20px;
}

#formbuttons .btn_norm:hover,
#formbuttons .btn_norm:active {
    background-color: #ff5a4d;
    color: #000;
}

#floater div#help {
    cursor: pointer;
    font-size: 10px;
    background-color: #666;
    border-bottom: 1px solid #777;
}

#floater div#help div.content {
    padding: 10px;
    color: #fff;
}

/* Floater Handle */

#floater_handle {
    background: url('../../skins/standard/grfx/g3_table_header.png');
    border-bottom: 1px solid #555;
    padding: 2px 2px 2px 10px;
    font-weight: bold;
    line-height: 18px;
    color: #FFFFFF;
    height: 20px;
}

#floater_handle:hover {
    cursor: move;
}

#floater_handle div.right {
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 16px;
    top: 9px;
    right: 10px;
}

#floater_handle div.right a {
    cursor: pointer;
    margin-left: 2px;
    float: right;
    overflow: hidden;
    display: block;
    width: 22px;
    height: 16px;
    text-indent: -500px;
}

#floater_handle div.right a.close {
    background: url('../../skins/standard/grfx/close.png') no-repeat;
}

#floater_handle div.right a.options.down {
    background: url('../../skins/standard/grfx/options2.png') no-repeat 0 0;
}

#floater_handle div.right a.options.up {
    background: url('../../skins/standard/grfx/options2.png') no-repeat 0 -16px;
}

#floater_handle div.right a.help {
    background: url('../../skins/standard/grfx/help.png') no-repeat 0 0;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.activitiesTable input {
    width: 100px;
}

#floater_innerwrap .errorMessage {
    color: white;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

#floater_innerwrap .errorField {
    background-color: #af0000;
    border: 1px dotted white;
}

/*

    L I S T S         L I S T S         L I S T S         L I S T S         L I S T S         L I S T S

*/
.lists > #users,
.lists > #customers,
.lists > #activities,
.lists > #projects {
    height: 175px;
    z-index: 1;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    position: absolute;
    overflow: auto;
    left: 10px;
}

#users_head, #customers_head, #projects_head, #activities_head {
    border: 1px solid black;
    border-bottom: none;
}

#users_foot, #customers_foot, #projects_foot, #activities_foot {
    border: 1px solid black;
    border-top: none;
}

#users_head, #customers_head, #projects_head, #activities_head,
#users_foot, #customers_foot, #projects_foot, #activities_foot {
    background-image: url('../../skins/standard/grfx/g3_table_header.png');
    position: absolute;
    text-align: left;
    color: #FFF;
    left: 10px;
    font-size: 11px;
    padding: 3px 0 0 5px;
}

#users_head, #customers_head, #projects_head, #activities_head {
    height: 25px;
}

#users_foot, #customers_foot, #projects_foot, #activities_foot {
    height: 20px;
}

#customersShrink, #usersShrink, #extensionShrink {
    cursor: pointer;
    position: absolute;
    font-size: 1px;
    line-height: 1px;
    left: 10px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

#customersShrink {
    background: transparent url('../../skins/standard/grfx/customerShrink_left.png') no-repeat center;
    width: 10px;
    height: 100px;
    z-index: 31;
}

#usersShrink {
    background: transparent url('../../skins/standard/grfx/customerShrink_left.png') no-repeat center;
    width: 10px;
    height: 100px;
    z-index: 31;
}

#extensionShrink {
    background: transparent url('../../skins/standard/grfx/timeSheetShrink_up.png') no-repeat center;
    width: 500px;
    height: 10px;
    z-index: 30;
}

div#users > table > tbody > tr > td.annotation,
div#customers > table > tbody > tr > td.annotation,
div#projects > table > tbody > tr > td.annotation,
div#activities > table > tbody > tr > td.annotation {
    border-right: none;
}

div#users td.option img,
div#customers td.option img,
div#projects td.option img,
div#activities td.option img {
    margin-top: 2px;
}

div#users td.annotation,
div#customers td.annotation,
div#projects td.annotation,
div#activities td.annotation {
    width: 60px;
    text-align: right;
}

div#users td,
div#customers td,
div#projects td,
div#activities td {
    border-right: none;
}

a.addLink,
a.selectAllLink,
a.deselectAllLink,
a.selectInvertLink {
    overflow: hidden;
    display: block;
    width: 22px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

a.addLink {
    background-image: url('../../skins/standard/grfx/add.png');
}

a.selectAllLink {
    background-image: url('../../skins/standard/grfx/select_all.png');
}

a.deselectAllLink {
    background-image: url('../../skins/standard/grfx/deselect_all.png');
}

a.selectInvertLink {
    background-image: url('../../skins/standard/grfx/invert_select.png');
}

.livefilterfield {
    float: right;
    background-image: url('../../skins/standard/grfx/filter_bg.jpg');
    border: 1px solid #555;
    height: 12px;
    padding: 1px;
    margin: 0 8px 0 10px;
    color: #fff;
    font-size: 9px;
}

.livefilterfield:focus {
    background: #fff;
    color: #333;
}

.highlightProjectForPreselection td {
    background: #C5E6C3 !important;
    cursor: pointer !important;
    font-weight: bold;
}

.filterProjectForPreselection td {
    background: #64BE5E !important;
}

.ids {
    width: 25px;
    color: #C4C4C4;
    display: block;
    float: left;
}

.filterProjectForPreselection td .ids {
    color: #4D9247 !important;
}

.TableRowInvisible {
    display: none;
}

.lighter {
    color: #777;
}

/* below two definitions still used? */
.error {
    padding: 5px;
    color: #f00;
    font-weight: bold;
}

.floater_content .error {
    font-size: 13px;
}

div.lists table {
    border-collapse: collapse;
    font-size: 11px;
    color: #363636;
    border-bottom: 1px solid #888;
}

div.lists table a {
    text-decoration: none;
}

div.lists table a.preselect_lnk {
    color: #363636;
    text-decoration: none;
    border-bottom: 1px dotted #bbb;
}

div.lists table a:hover {
    color: #0F9E00;
    border-bottom: none;
}

div.lists tr.even td,
div.lists tr.odd td {
    border-bottom: none;
    border-left: none;
    border-right: 1px dotted #CCC;
    padding: 3px 4px 4px 5px;
}

div.lists tr.hover td {
    background: #FFC !important;
}

div.lists tr.even td {
    background: #FFF;
}

div.lists tr.odd td {
    background: #EEE;
}

.fhighlighted td {
    background: #89C0F3 !important;
}

/*

    D A T E P I C K E R          D A T E P I C K E R          D A T E P I C K E R          D A T E P I C K E R

*/

.ui-datepicker {
    width: 298px;
    background-color: #333;
    border: 1px solid #000;
    z-index: 500 !important;
    display: none;
}

.ui-datepicker-title {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin: 2px 0 8px 0;
    padding-top: 3px;
    height: 22px;
    width: 302px;
}

.ui-datepicker-prev {
    position: absolute;
    top: 0;
    left: 6px;
    width: 65px;
    height: 20px;
    margin-top: 5px;
    margin-left: 1px;
}

.ui-datepicker-prev {
    float: left;
    width: 15px;
    height: 15px;
}

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-prev .disabled,
.ui-datepicker-next .disabled {
    cursor: default;
}

.ui-datepicker-next {
    position: absolute;
    top: 0;
    right: 5px;
    width: 66px;
    height: 20px;
    margin-top: 5px;
    margin-right: 1px;
}

.ui-datepicker-next {
    float: right;
    width: 15px;
    height: 15px;
}

.ui-state-disabled {
    cursor: default;
    color: #aaa;
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}

.ui-datepicker-prev {
    background: url('../../skins/standard/grfx/picker_buttons.png') no-repeat -40px 0;
    display: block;
    padding-top: 5px;
    padding-right: 25px;
}

.ui-datepicker-next {
    background: url('../../skins/standard/grfx/picker_buttons.png') no-repeat -80px 0;
    display: block;
    padding-top: 5px;
    padding-right: 25px;
    font-size: 0;
    line-height: 0;
    margin-right: 3px;
}

.ui-datepicker-calendar td {
    cursor: pointer;
}

.ui-datepicker-calendar th {
    background: url('../../skins/standard/grfx/picker_bg_weekdays.png') no-repeat;
    width: 40px;
    height: 40px;
    color: #fff;
    font-weight: bold;
}

.ui-datepicker-calendar th.ui-datepicker-week-end {
    background: url('../../skins/standard/grfx/picker_bg_weekend.png') no-repeat;
}

.ui-datepicker-calendar td {
    background: url('../../skins/standard/grfx/picker_bg_norm.png') no-repeat;
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
}

.ui-datepicker-calendar td.ui-datepicker-other-month {
    background: url('../../skins/standard/grfx/picker_bg_otherMonth.png') no-repeat;
    color: #aaa;
}

.ui-datepicker-calendar td.ui-datepicker-other-month:hover {
    background: url('../../skins/standard/grfx/picker_bg_otherMonth.png') no-repeat;
    color: #888;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
    cursor: default;
}

.ui-datepicker-calendar a {
    color: #000;
    text-decoration: none;
}

.ui-datepicker-calendar td:hover {
    background: url('../../skins/standard/grfx/picker_bg_hover.png') no-repeat;
    color: #000;
}

.ui-datepicker-calendar td.ui-datepicker-today {
    background: url('../../skins/standard/grfx/picker_bg_today.png') no-repeat;
    font-weight: bold;
}

.ui-datepicker-calendar td.ui-datepicker-today:hover {
    background: url('../../skins/standard/grfx/picker_bg_today_hover.png') no-repeat;
}

.ui-datepicker-calendar td.ui-datepicker-today a {
    color: #fff;
}

.ui-datepicker-calendar td.ui-datepicker-current-day,
.ui-datepicker-calendar td.ui-datepicker-current-day:hover {
    background: url('../../skins/standard/grfx/picker_bg_selected.png') no-repeat;
}

.ui-datepicker-calendar td.ui-datepicker-current-day a {
    color: #fff;
}

/*

    T I M E P I C K E R        T I M E P I C K E R        T I M E P I C K E R        T I M E P I C K E R

*/
#ui-timepicker-div {
    background-color: #333;
    border: 1px solid #000;
    z-index: 500 !important;
    display: none;
}

.ui-timepicker-title {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin: 2px 0 8px 0;
    padding-top: 3px;
    height: 22px;
}

.periods {
    color: #FFF;
}

.ui-timepicker-hours {
    border-right: 1px solid black;
}

.ui-timepicker-hours td, .ui-timepicker-minutes td {
    cursor: pointer;
}

.ui-timepicker-hours td, .ui-timepicker-minutes td {
    background: url('../../skins/standard/grfx/picker_bg_norm.png') no-repeat;
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
}

.ui-timepicker-hours a, .ui-timepicker-minutes a {
    color: #000;
    text-decoration: none;
}

.ui-timepicker-hours td:hover, .ui-timepicker-minutes td:hover {
    background: url('../../skins/standard/grfx/picker_bg_hover.png') no-repeat;
    color: #000;
}

