html {
    height: 100%;
}

body {
    background-color: #000;
    height: 100%;
    font: 85%/1.5 "Lucida Grande", Calibri, "Segoe Sans", Futura, "Gill Sans", "Lucida Sans", "News Gothic MT", "Bitstream Vera Sans", "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    position: absolute;
    width: 526px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -263px;
}

#box {
    background: url(../grfx/login_bg_g3.png) no-repeat;
    display: block;
    width: 448px;
    height: 298px;
    margin: auto;
    position: relative;
    color: #999;
}

#box > div {
    position: absolute;
    padding: 0 30px;
    display: none;
    margin-top: 90px;
    width: 384px;
}

#warning {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    border: 2px solid red;
}

#warning p#JSwarning {
    padding: 5px;
    margin: 0;
    background: url(../grfx/bg_warning.gif) repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
}

#box label,
#box select,
#box input,
#box select {
    margin: 5px 0;
}

#box label {
    color: #999;
    width: 120px;
    float: left;
    text-align: right;
    padding-right: 10px;
    line-height: 17px;
    height: 17px;
}

#box select {
    width: 100px;
    border: 1px solid silver;
}

#box fieldset {
    border: 0 none;
    padding: 0;
}

#box input {
    border: 1px solid #ccc;
    padding: 2px;
    width: 140px;
}

a#forgotPasswordLink {
    padding-left: 120px;
}

#box a {
    margin-top: 10px;
    display: block;
    color: #999;
}

#box a:hover,
#box a:focus {
    color: white;
}

#box .instructions {
    color: #999;
    margin-top: 10px;
    width: 140px;
}

#login fieldset {
    display: block;
    width: 100%;
    /*height: 100px;*/
    /*text-align: left;*/
    margin: auto;
    position: relative;
}

#loginButton {
    position: absolute;
    width: 58px;
    height: 58px;
    right: 40px;
    top: 3px;
    background: url(../grfx/login_button_cu.png) no-repeat;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#login span.demo {
    width: 100%;
    float: left;
    padding: 2px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 121, 0, 1);
    color: #000;
    font-weight: bold;
    line-height: 1.1;
}

#forgotPassword fieldset {
    display: block;
}

#loginButton:hover {
    background: url(../grfx/login_button_cu.png) no-repeat 0 -58px;
    cursor: pointer;
}

#forgotPassword label {
    margin-right: 5px;
}

#forgotPassword button {
    display: inline-block;
    float: right;
}

#content > p,
#content > p > a {
    font-size: small;
    color: #888;
    text-align: center;
    line-height: 14px;
}

#content > p > a:hover,
#content > p > a:focus {
    color: white;
}

#install {
    color: #FFF;
    position: absolute;
    width: 526px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -263px;
}

#install .installtext {
    /*    background-color:#f00;*/
    width: 350px;
}

#install .welcome {
    font-size: 1.3em;
    font-weight: bold;
    color: #15F000;
    margin-bottom: 10px;
}

#install .txt {
    margin-bottom: 7px;
}

#install form {
    background: url(../grfx/login_bg_g3.png) no-repeat;
    display: block;
    width: 448px;
    height: 298px;
    margin: 0 0 0 38px;
    padding: 0;
}

#install fieldset {
    border: 0 none;
    display: block;
    margin: 105px 0 0 15px;
    width: 420px;
    height: 160px;
    padding: 0;
    position: absolute;
    text-align: left;
}

#install label {
    display: block;
    color: #999;
}

#install input {
    border: 1px solid #ccc;
    padding: 2px;
    display: block;
    width: 140px;
    position: relative;
    margin: 0;
    left: 0;
}

#install button {
    position: absolute;
    width: 58px;
    height: 58px;
    right: 0;
    bottom: 0;
    background: url(../grfx/login_button_cu.png) no-repeat;
    text-indent: -1000em;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#install button:hover {
    background: url(../grfx/login_button_cu.png) no-repeat 0 -58px;
    cursor: pointer;
}

#install p, #install p > a {
    font-size: x-small;
    color: #555;
    text-align: center;
}

/* way the hell off screen */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
